<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender class="org.apache.log4j.RollingFileAppender" name="http">
		<param value="${catalina.home}/logs/httplogger.log" name="File" />
		<param name="MaxFileSize" value="20MB" />
		<param name="MaxBackupIndex" value="20" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="main">
		<param value="${catalina.home}/logs/main.log" name="File" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="sql">
		<param value="${catalina.home}/logs/sql.log" name="File" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="thirdparty">
		<param value="${catalina.home}/logs/thirdparty.log" name="File" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender class="org.apache.log4j.RollingFileAppender" name="thirdparty_hibernate">
		<param value="${catalina.home}/logs/thirdparty_hibernate.log" name="File" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>	
	<appender class="org.apache.log4j.RollingFileAppender" name="cache">
		<param value="${catalina.home}/logs/cache.log" name="File" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d %p %t [%c] - %m%n" name="ConversionPattern" />
		</layout>
	</appender>
	<!-- Enable trace to see Hibernate Queries -->
	<logger name="org.hibernate.type" additivity="false">
		<level value="warn" />
		<appender-ref ref="sql" />
	</logger>
	<logger name="org.hibernate.cache">
		<level value="warn" />
		<appender-ref ref="thirdparty" />
	</logger>
	<!-- Enable trace to see Hibernate Queries -->
	<logger name="org.hibernate.SQL" additivity="false">
		<level value="trace" />
		<appender-ref ref="sql" />
	</logger>
	<logger name="com.mysql" additivity="false">
		<level value="warn" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="com.mysql.jdbc.Driver" additivity="false">
		<level value="warn" />
		<appender-ref ref="thirdparty" />
	</logger>

	<logger name="com.mchange.v2" additivity="false">
		<level value="WARN" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="com.mysql.etools" additivity="false">
		<level value="WARN" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="com.mchange" additivity="false">
		<level value="WARN" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="com.mchange.v2.log.MLog" additivity="false">
		<level value="WARN" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="net.sf.ehcache" additivity="false">
		<level value="warn" />
		<appender-ref ref="cache" />
	</logger>
	<logger name="net.sf" additivity="false">
		<level value="warn" />
		<appender-ref ref="cache" />
	</logger>
	<logger name="AXIS_SOAP_HANDLER" additivity="false">
		<level value="warn" />
		<appender-ref ref="http" />
	</logger>
	<logger name="org.springframework.transaction" additivity="false">
		<level value="warn" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="org.springframework.orm.jpa" additivity="false">
		<level value="warn" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="org.springframework.aop" additivity="false">
		<level value="WARN" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="org.hibernate" additivity="false">
		<level value="info" />
		<appender-ref ref="thirdparty_hibernate" />
	</logger>
	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="thirdparty" />
	</logger>
	<logger name="com.proximityperks" additivity="false">
		<level value="info" />
		<appender-ref ref="main" />
	</logger>
	<root>
		<level value="error" />
		<appender-ref ref="main" />
	</root>
</log4j:configuration>
